.Navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  color: #fff;
  background-color: rgb(135, 184, 39);
}

.Nav-h1 {
  font-size: 3rem;
  font-style: italic;
}

.Nav-ul,a {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 1.4rem;
  
}

li {
  font-size: 1.6rem;
  
}
a {
  background-color: lightgray;
  margin: 10px;
  border-radius: 5px;
}